[submodule "vendor/src/libtoxcore"]
	path = vendor/src/libtoxcore
	url = https://github.com/TokTok/c-toxcore.git
[submodule "vendor/src/libsodium"]
	path = vendor/src/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "vendor/src/opus"]
	path = vendor/src/opus
	url = https://github.com/xiph/opus.git
[submodule "vendor/src/libvpx"]
	path = vendor/src/libvpx
	url = https://chromium.googlesource.com/webm/libvpx.git
